input[type=text],input[type=email]{
    border:1px solid #7f00ff;
    background: #252525;
    color: #fff;
    padding: 11px 26px;
    margin-bottom: 30px;
    border-radius: 30px;
    outline: none !important;
    
}
.textarea{
    border:1px solid #7f00ff;
    background: #252525;
    color: #fff;
    padding: 12px 26px;
    margin-bottom: 20px;
    height: 160px;
    overflow: hidden;
    border-radius: 30px;
    outline: none !important;
   
}
.button{
    border:1px solid #7f00ff;
    overflow: hidden;
    display: inline-block;
    line-height: 1.4;
    border-radius: 35px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: start;
    user-select: none;
    transition: 250ms all ease-in-out;
    text-transform: uppercase;
    text-decoration: none !important;
    position: relative;
    z-index: 1;
    padding: 16px 0px 16px 0px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    outline: none !important;
}